:root {
  --background-height: 715px;
  --menu-height: 61px;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
  min-width: 1200px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;
  -webkit-font-smoothing: antialiased;
  background-color: #efe6e4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-small {
  max-width: 1036px;
  margin: 0 auto;
  padding: 0 20px;
}

.dark-theme {
  background: #8d7370;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;
  width: 310px;
  height: 74px;
  border: none;
  background-color: #cc8b86;
  user-select: none;
}

.button:hover {
  background-color: #a98a8a;
}

.button:active {
  background-color: #a9988a;
}

.button:focus {
  outline-color: #533738;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #cc8b86;
  border: none;
  border-radius: 50%;
  user-select: none;
}

.arrow-button--forward {
  transform: rotate(180deg);
}

.arrow-button:hover {
  background-color: #a98a8a;
  cursor: pointer;
}

.arrow-button:active {
  background-color: #a9988a;
}

.arrow-button:focus {
  outline-color: #533738;
}

.link {
  position: relative;
  text-decoration: none;
  color: #533738;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.link::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #533738;
  transform: scaleX(0);
}

.link:hover::before {
  transform: scaleX(1);
}

.link:active {
  color: #a97e7f;
}

.link:active::before {
  background-color: #a97e7f;
}

.link:focus {
  outline-color: #533738;
}

.arrow-link:hover {
  background-color: #e2c4ba;
  box-shadow: 0 0 2px #533738;
}

.arrow-link:active {
  background-color: #e5e5e5;
  box-shadow: none;
}

.arrow-link:focus {
  outline-color: #533738;
}

.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.section-title--left {
  text-align: left;
}

.main-header .container {
  display: grid;
  grid-template-columns: 25px 65px 1fr;
  align-items: center;
  margin-top: 36px;
  margin-bottom: -110px;
  font-size: 16px;
  line-height: 20px;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 145px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 35px;
  margin-left: 89px;
  padding-left: 0;
  list-style: none;
}

.main-nav__title {
  margin: 0;
}

.intro-section {
  min-height: calc(var(--background-height) - var(--menu-height));
  margin: 0;
  padding-top: 110px;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-section__header {
  max-width: 535px;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 62px;
}

.intro-section__text {
  max-width: 425px;
  margin: 0;
  padding-bottom: 25px;
}

.intro-section__button {
  text-decoration: none;
}

.about-section {
  padding-top: 65px;
}

.about-section__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  column-gap: 63px;
  margin-bottom: 21px;
}

.about-section__image {
  grid-area: span 2;
}

.about-section__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}
.about-section__paragraph:last-child {
  margin-bottom: 0;
}

.about-section__pros-section {
  padding: 85px 0 81px 0;
  text-align: center;
}

.about-section__pros-list {
  display: grid;
  grid-template-columns: 190px 178px 132px;
  gap: 269px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-section__item-value {
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 8px;
}

.about-section__item-description {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.portfolio-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.portfolio-section__load-more {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
  text-align: center;
  color: #533738;
}

.work-sample {
  display: grid;
  grid-template-columns: 8fr 3fr 8fr;
  column-gap: 20px;
  row-gap: 30px;
  padding-bottom: 40px;
}

.work-sample__image:nth-child(4n-1),
.work-sample__image:nth-child(4n) {
  grid-column: span 2;
}

.work-sample__text-wrapper {
  position: absolute;
  width: 488px;
  height: 451px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(100, 72, 69, 0.8);
}

.work-sample__title {
  width: 270px;
  margin: 0 auto;
  margin-top: 86px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.work-sample__description {
  margin-right: 35px;
  margin-left: 35px;
}


.team-section {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #e2c4ba;
}

.team-section__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 38px;
  margin-bottom: 35px;
}

.team-section__about-member {
  margin: 0;
}

.featured-numbered-block__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

.featured-numbered-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  counter-reset: featured-list-counter;
  list-style: none;
}

.featured-numbered-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured-numbered-block__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #8d7370;
  border: none;
  border-radius: 50%;
  counter-increment: featured-list-counter;
  content: counter(featured-list-counter);
}

.review-section {
  padding: 65px 0;
}

.review-section__wrapper {
  display: grid;
  grid-template-columns: 72px 1fr 72px;
  column-gap: 29px;
  align-items: center;
}

.review-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  row-gap: 24px;
}

.review-item__quote {
  grid-area: span 2;
  margin: 0;
}

.review-item__paragraph {
  margin: 0;
  margin-bottom: 30px;
}

.cta-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.cta__container {
  padding-left: 80px;
}

.cta-section__title {
  margin-top: 50px;
  margin-bottom: 22px;
}

.cta-section__intro {
  margin: 0;
  margin-bottom: 44px;
}

.cta-form__name-field {
  margin-bottom: 32px;
}

.cta-form__phone-field {
  margin-bottom: 31px;
}

.input-text,
.input-tel {
  display: block;
  width: 508px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: solid #ffffff 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}

.input-text:hover,
.input-tel:hover {
  background-color: #a9988a;
}

.input-text:focus,
.input-tel:focus {
  outline-color: #533738;
}

.input-text::placeholder,
.input-tel::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}

.main-footer .container {
  display: flex;
  margin-top: 37px;
  margin-bottom: 37px;
}

.main-footer__phone {
  margin-right: 42px;
}

.main-footer__address {
  margin-right: auto;
}
