:root {
  --background-height: 715px;
  --menu-height: 61px;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;
  background-color: #e5e5e5;
  background-image: url("../img/background.jpg");
  background-size: 1400px var(--background-height);
  background-repeat: no-repeat;
  background-position: top;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 1036px;
  margin: 0 auto;
}

.container-cta {
  max-width: 1117px;
  margin: 0 auto;
}

.dark-theme {
  background: #8d7370;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;
  width: 310px;
  height: 74px;
  border: none;
  background-color: #cc8b86;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
}

.section-title--left {
  text-align: left;
}

.main-nav {
  display: grid;
  grid-template-columns: 25px 65px 1fr 145px;
  align-items: center;
  margin-top: 36px;
  font-size: 16px;
  line-height: 20px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 35px;
  margin-left: 89px;
  padding-left: 0;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: #533738;
}

.main-nav__title {
  margin: 0;
}

.phone {
  text-decoration: none;
  color: #533738;
}

.intro-section {
  min-height: calc(var(--background-height) - var(--menu-height));
  margin: 0;
  margin-bottom: 65px;
}

.intro-section__header {
  max-width: 535px;
  margin: 0;
  padding-top: 91px;
  padding-bottom: 20px;
  font-size: 50px;
  line-height: 62px;
}

.intro-section__text {
  max-width: 425px;
  margin: 0;
  padding-bottom: 25px;
}

.intro-section__button {
  text-decoration: none;
}

.about-section {
  margin-bottom: 65px;
}

.about-section__wrapper {
  display: grid;
  grid-template-columns: 444px 528px;
  column-gap: 63px;
  row-gap: 0;
  margin-bottom: 21px;
}

.about-section__image {
  grid-area: span 2;
}

.about-section__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-section__pros-section {
  padding: 85px 0 81px 0;
  text-align: center;
}

.about-section__pros-list {
  display: grid;
  grid-template-columns: 190px 178px 132px;
  gap: 269px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-section__item-value {
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 8px;
}

.about-section__item-description {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.portfolio-section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.portfolio-section__load-more {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
  text-align: center;
  color: #533738;
}

.work-sample {
  display: grid;
  grid-template-columns: 488px 184px 488px;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 40px;
}

.work-sample__text-wrapper {
  position: absolute;
  width: 488px;
  height: 451px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(100, 72, 69, 0.8);
}

.work-sample__title {
  width: 270px;
  margin: 0 auto;
  margin-top: 86px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.work-sample__description {
  margin-right: 35px;
  margin-left: 35px;
}

.work-sample__image:nth-child(4n-1),
.work-sample__image:nth-child(4n) {
  grid-column: span 2;
}

.team-section {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #e2c4ba;
}

.team-section__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 38px;
  margin-bottom: 35px;
}

.team-section__about-member {
  margin: 0;
}

.featured-numbered-block__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

.featured-numbered-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  counter-reset: featured-list-counter;
  list-style: none;
}

.featured-numbered-block__item {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featured-numbered-block__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #8d7370;
  border: none;
  border-radius: 50%;
  counter-increment: featured-list-counter;
  content: counter(featured-list-counter);
}

.review-section__wrapper {
  display: grid;
  grid-template-columns: 72px 834px 72px;
  column-gap: 20px;
  align-items: center;
}

.review-item {
  display: grid;
  grid-template-columns: 407px 407px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #cc8b86;
  border: none;
  border-radius: 50%;
}

.arrow-button--forward {
  transform: rotate(180deg);
}

.input-text,
.input-tel {
  display: block;
  width: 508px;
  height: 35px;
  background-color: transparent;
  border: none;
  border-bottom: solid #ffffff 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}

.input-text::placeholder,
.input-tel::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}

.main-footer .container {
  display: flex;
  margin-top: 37px;
  margin-bottom: 37px;
}

.main-footer__phone {
  margin-right: 42px;
}

.main-footer__address {
  margin-right: auto;
}
