@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;

  background-color: #e5e5e5;
  background-image: url("../img/background.jpg");
  background-size: 1400px 715px;
  background-repeat: no-repeat;
  background-position: top;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container-min {
  max-width: 1036px;
  margin: 0 auto;
}

.dark-theme {
  background: #8d7370;
  color: #ffffff;
}

.main-nav {
  display: grid;
  grid-template-columns: 25px 65px 1fr 145px;
  column-gap: 5px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: #533738;
}

.phone {
  text-decoration: none;
  color: #533738;
}

.intro-section {
  width: 1400px;
  height: 715px;
}

.intro-section__text--header {
  font-size: 50px;
  line-height: 62px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #533738;

  width: 310px;
  height: 74px;
  border: none;
  background-color: #CC8B86;
}

.intro-section__button {
  text-decoration: none;
}


.section-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-section__item-value {
  font-size: 50px;
  line-height: 62px;
}

.about-section__item-description {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.portfolio-section__load-more {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.work-sample {
  display: flex;
  flex-wrap: wrap;
}

.work-sample__wrapper {
  position: absolute;

  width: 488px;
  height: 451px;
  margin: 0;

  color: #ffffff;

  background-color: rgba(100, 72, 69, 0.8);
}

.work-sample__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.team-section {
  background-color: #e2c4ba;
}

.review-section__wrapper {
  display: grid;
  grid-template-columns: 72px 834px 72px;
  column-gap: 20px;
  align-items: center;
}

.review-item {
  display: grid;
  grid-template-columns: 407px 407px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;

  background-color: #cc8b86;
  border: none;
  border-radius: 50%;
}

.arrow-button--forward {
  transform: rotate(180deg);
}

.input-text,
.input-tel {
  display: block;
  width: 508px;
  height: 35px;

  background-color: transparent;
  border: none;
  border-bottom: solid #ffffff 1px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}

.input-text::placeholder,
.input-tel::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #f6ede9;
}
